.contact-wrapper {
    width: 100%;
    padding-top: 95px;
    display: flex;
    position: relative;
}
.contact-bg {
    width: 700px;
    height: 800px;
}
.contact-left {
    height: 100vh;
}
.contact-left, .contact-right {
    width: 50%;
}
.contact-right {
    display: flex;
    flex-flow: column;
}
.contact-form {
    display: flex;
    flex-flow: column;
    align-items: space-around;
}
.form-name, .form-surname, .form-telefon, .form-email {
    width: 600px;
    height: 30px;
    margin: 0 auto 20px;
}
.form-btn {
    height: 40px;
    width: 300px;
    margin: 0 auto;
}