.firsthome-wrapper {
    width: 100%;
    padding-top: 95px;
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img10 {
    width:  500px;
    height: 500px;   
}
.firsthome-title-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 5px;
}
.firsthome-title-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}
