.footerhome-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed';
}
.footerhome-title {
    margin-bottom: 10px;
}

.img9 {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
