.infohome-wrapper {
    width: 100%; 
    margin-bottom: 5px;
}
.infohome {
    display: flex;
    justify-content: space-around;
    padding: 0px 150px 0px 150px;
}
.img17, .img18, .img19, .img20 {
    width:  300px;
    height: 300px; 
}
.img17:hover, .img18:hover, .img19:hover {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.window {
    height: 200px;
    width: 500px;
    background-color: rgb(219, 209, 209);
    position: absolute;
    left: 34%;
    top: 30%;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    
}
.animated {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.show {
    opacity: 1;
    visibility: visible;
}
