.infohome-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.img17, .img18, .img19 {
    width:  500px;
    height: 500px; 

}
.img17:hover, .img18:hover, .img19:hover {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
