.secondhome-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.img11, .img12, .img13, .img14, .img15, .img16 {
    width:  500px;
    height: 500px;
    margin-bottom: 5px; 
}
.img11:hover, .img12:hover, .img13:hover, .img14:hover, .img15:hover, .img16:hover {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
