.secondhome-wrapper {
    width: 100%;
}
.secondhome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0px 150px 0px 150px;
}
.img11, .img12, .img13, .img14, .img15, .img16 {
    width:  300px;
    height: 300px;   
    margin-bottom: 5px; 
}
.img11:hover, .img12:hover, .img13:hover, .img14:hover, .img15:hover, .img16:hover {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.window {
    height: 200px;
    width: 500px;
    background-color: rgb(219, 209, 209);
    position: absolute;
    left: 34%;
    top: 30%;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    
}
.animated {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.show {
    opacity: 1;
    visibility: visible;
}
